html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#map{
    height:100%;
    width: 90%;
}

.leaflet-container{
    background-color: black;
}

#filter-menu{
    height: 100%;
    width: 10%;
    background-color: rgb(36, 83, 83);
    transition: 0.3s;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#hide-button{
    background-color: rgb(182, 8, 46);
    width: fit-content;
    position: relative;
    float: right;
    padding: 10px;
    cursor: pointer;
}